.footer--pin {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.8rem;
  font-size: 0.9rem;
  background-color: darkviolet;
  color: white;
}

@media (min-width: 580px) {
  .footer--pin {
    height: 3.5rem;
    font-size: 1rem;
  }
}
