@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap");

:root {
  --color-primary: #7209b7;
  --color-secondary: #4cc9f0;
  --color-tertiary: #3a0ca3;
  --color-background: #3f3f3f;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Fredoka", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  text-align: center;
}

body {
  margin: 0;
}
